body{
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
img{
  max-width: 400px;
  max-height: 400px;
}
p{
  text-align: center;
}
.info{
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}


.buttonSec{
  display: flex;
  justify-content: center;
}
.picSec{
  display: flex;
  justify-content: center;
}
.quoteSec{
  margin-top: 15px;
  display: flex;
  justify-content: center;

}
