h1{
  text-align: center;
  color: black;
}

#lyrics{
width: 90%;
background-color: lightgrey;
margin: 0 5%;
font-size: 1.5rem;
}


body{
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1500px;
}

form{
  text-align: center;
  margin:2%;
}

input{
  font-size: 1.2rem;
  border-radius: 10%;
}

button{
  font-size: 1.2rem;
  border-radius: 10%;
}
