<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<body>
		<header>
			<h1>Get the current prices of BitCoin</h1>
			<button type="button" name="button">Get Prices</button>
		</header>
		<div class="money">
			<p class="nameOfCurrency">USD</p>
			<p class="USDdescription"></p>
			<p class="USDrate"></p>
			
		</div>
		<div class="money">
			<p class="nameOfCurrency">GBP</p>
			<p class="GBPdescription"></p>
			<p class="GBPrate"></p>
			<p class="time"></p>
		</div>
		<div class="money">
			<p class="nameOfCurrency">EUR</p>
			<p class="EURdescription"></p>
			<p class="EURrate"></p>
			<p class="time"></p>
		</div>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
