body{
  background-image: url("rainbow.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#holder{
  background-color: rgba(255, 255, 255, 40%);
  width: 60%;
  height: auto;
  margin-left: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 10%;
}
h1, h2, p{
  color: black;
  text-align: center;
  font-family: inherit;
}
button{
  margin-left: 42%;
  padding: 1% 2%;
  border:none;
  color:white;
  font-size: 15px;
  font-weight: normal;

  background-color: black;
}
p{
  margin-left: 10%;
  width: 80%;
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
}
h1{
  font-weight: bold;
  font-size: 30px;
}
h2{
  font-weight: lighter;
  font-size: 20px;
}
